html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, Arial, Ubuntu, sasn-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5c6369;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #14141d;
}
