.tab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.button {
  display: block;
  width: 100px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 40px auto 20px;
  background: #d4af7a;
}
.button:hover {
  background: #f59e25;
}
